{{>layouts/header}}

<table class="table">
    <!-- 헤드 영역 -->
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
    </tr>
    </thead>
    <!-- 바디 영역 -->
    <tbody>
    <!--
    여기서 부터는
    article.id , article.title , article.content 와
    같은 효과
    -->
    {{#articles}}   <!--시작-->
    <tr>
        <th>{{id}}</th>
        <td><a href="/articles/{{id}}">{{title}}</a></td>
        <td>{{writer}}</td>
        <td>{{createdAt}}</td>
    </tr>
    {{/articles}}   <!--끝-->
    </tbody>
</table>
<button type="button" onclick="location.href='/articles/new'" class="btn btn-primary">
    글작성
</button>

{{>layouts/footer}}