{{>layouts/header}}

<table class="table">
    <!-- 헤드 영역 -->
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <!-- 바디 영역 -->
    <tbody>
    <!--
    여기서 부터는
    article.id , article.title , article.content 와
    같은 효과
    -->
    {{#article}}   <!--시작-->
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}   <!--끝-->

    </tbody>
</table>

{{>layouts/footer}}