{{>layouts/header}}

<!--action : 어디로 보낼 것 이냐-->
<!--method : 어떻게 보낼 것 이냐 -->
<form class="container" action="/articles/{{article.id}}/update" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{article.title}}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-control" name="writer" value="{{article.writer}}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" row="3" name="content" required>{{article.content}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">수정하기</button>
</form>

{{>layouts/footer}}